.top-banner{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.btn-panda{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.price{
    color: #FF136F;
}
.catalog-bag{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 10px;
}
.catalog-shoes{
    background-image: linear-gradient(to bottom, #6358ff 0%, #2b27f5 100%);
    border-radius: 10px;
}
.catalog-watch{
    background-image: linear-gradient(to bottom, #f5e44b 0%, #e9be00 100%);
    border-radius: 10px;
}
.bottom p{
    color: #707070;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}